@model IEnumerable<ClinicManagementProject.Models.Doctor>

@{
    ViewData["Title"] = "Doctor's Home";
    Layout = "~/views/shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <p><br /><br /><br />

    </p>
    <table class="table table-light" align="center" width="60%">
        <thead>
            <tr>
                <th width="20%">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th width="10%">
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th width="10%">
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th width="60%">
                    @Html.DisplayNameFor(model => model.Specialization)
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="20%">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td width="10%">
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td width="10%">
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td width="60%"> 
                        <p>
                        @Html.DisplayFor(modelItem => item.Specialization)
                     </p>
                    </td>               
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
