@model ClinicManagementProject.Models.PatientViewModel

<html>
<head>
    <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
    <style>
        form {
            width: 300px;
        }
    </style>
</head>

<body>
    <h1 id="main" class="alert alert-danger">Login Here</h1>
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("Login", "Patient", FormMethod.Post))
            {
                @Html.LabelFor(m => m.Username, htmlAttributes: new { @class = "form-control" })
                @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(m => m.EnteredPassword, htmlAttributes: new { @class = "form-control" })
                @Html.PasswordFor(m => m.EnteredPassword, htmlAttributes: new { @class = "form-control" })
                <button class="btn btn-success">Login</button>
            }
        </div>
    </div>
    <section>
        @Html.ActionLink("Register a new account", "Register")
    </section>
    <section class="alert alert-danger">
        @ViewData["Message"]
    </section>
    
</body>

</html> 